.property-panel-embedded {
  margin-top: 24px;
  padding: 12px;
  background-color: #1e1e1e;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.property-panel-embedded h4 {
  margin-bottom: 8px;
  font-weight: 600;
  color: #ffffff;
  font-size: 14px;
}
.property-panel-embedded button {
  padding: 6px 10px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}

.property-panel-embedded button.active-btn {
  background: #ddd;
  font-weight: bold;
}
