.login-form {
  background-color: #121212;
  color: white;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.login-form__logo {
  width: 150px;
  margin-bottom: 1rem;
}

.login-form__title {
  font-size: 1.8rem;
  font-weight: bold;
}

.login-form__subtitle {
  margin-bottom: 2rem;
  color: #ccc;
}

.form-group {
  margin-bottom: 1.5rem;
}

.input-icon {
  display: flex;
  align-items: center;
  background: #1f1f1f;
  border-radius: 4px;
  overflow: hidden;
}

.input-icon input {
  flex: 1;
  padding: 0.75rem;
  background: none;
  color: white;
  border: none;
}

.icon {
  padding: 0 0.75rem;
  color: #ff0ba7;
}

.icon--right {
  margin-left: auto;
  cursor: pointer;
}

.btn--primary {
  background-color: #ff0ba7;
  padding: 0.75rem;
  border: none;
  border-radius: 2rem;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}

.legal {
  font-size: 0.75rem;
  text-align: center;
  margin-top: 1rem;
  color: #999;
}

.dots {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.dot {
  width: 12px;
  height: 12px;
  background: #333;
  border-radius: 50%;
}
